<!DOCTYPE html>
<html>
<head>
<title>Food Court</title>
 
 	<link rel="stylesheet" href="" th:href="@{/Home.css}"/>
    <script src="https://kit.fontawesome.com/8fa40f0bbb.js" crossorigin="anonymous"></script>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
<section class="hero_image">
        <nav>
            <label class="logo">
                <ul>
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="/users/about">About</a></li>
                    <li><a class="nav-link" href="/products/show">Food</a></li>
                    <li><a class="nav-link"  href="/users/register">Register</a></li>
                     <a href="/products/sho"><i class="fas fa-shopping-cart"></i></a>
               </ul>
            </label>
        </nav>
    </section>

    <section>
        <div class="hero_wrapper">
            <h1>Eat Fresh!</h1>
            <p>Our food will make you feel better than all the meds in the world</p>
            <form class="form_code">
               
            </form>
        </div>
    </section>
    <section class="product">
        <div class="product_list_item">
            <img class="responsive" src="img/pizza.jpeg" alt="">
            <div>
                <h2 class="product_heading">Pizza</h2>
                <h3>Rs:-20</h3>
                <div>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                </div>
                <a href="#" class="menu_btn">Order Now</a>
            </div>
        </div>
        <div class="product_list_item">
            <img class="responsive" src="img/samosa.jpg" alt="">
            <h2 class="product_heading">Samosa</h2>
            <h3>Rs:-20</h3>
            <div>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
            </div>
            <a href="#" class="menu_btn">Order Now</a>
            <p></p>
        </div>
        <div class="product_list_item">
            <img class="responsive" src="img/vadpav.jpeg" alt="">
            <h2 class="product_heading">Vadapav</h2>
            <h3>Rs:-20</h3>
            <div>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
            </div>
            <a href="#" class="menu_btn">Order Now</a>
            <p> </p>
        </div>

    </section>
    <section class="product">
        <div class="product_list_item">
            <img class="responsive" src="img/burger.jpg" alt="">
            <h2 class="product_heading">Burger</h2>
            <h3>Rs:-30</h3>
            <div>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
            </div>
            <a href="#" class="menu_btn">Order Now</a>

        </div>
        <div class="product_list_item">
            <img class="responsive" src="img/paneer biryani.jpg" alt="">
            <h2 class="product_heading">Paneer Biryani</h2>
            <h3>Rs:-25</h3>
            <div>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
            </div>
            <a href="#" class="menu_btn">Order Now</a>

        </div>
        <div class="product_list_item">
            <img class="responsive" src="img/shevpav.jpg" alt="">
            <h2 class="product_heading">Shevpav</h2>
            <h3>Rs:-20</h3>
            <div>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
            </div>
            <a href="#" class="menu_btn">Order Now</a>

        </div>

    </section>
    <section class="abc">
        <div class="puranpoli">
            <img src="web image/puranpoli thali.jpg" alt="">
        </div>
    </section>
    <section>
        <div class="hero_wrapper">
            <h1>Eat Fresh!</h1>
            <p>Our food will make you feel better than all the meds in the world</p>
            <form class="form_code">
                <!-- <input type="text" class="post_code" placeholder="Find your favourite food">
                <button type="submit">Find</button> -->
            </form>
        </div>
    </section>
	<!-- <a href="/products/show">Show Products</a><br>
	<a class="nav-link"  href="/users/register">Register</a><br>
	<a href="/products/savestudent">Add product</a> -->
</body>
</html>